body {
  font-family: Arial, sans-serif;
  background-image: url(./imagenes/bg.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  color: #fff;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario label {
  margin-top: 10px;
}

.formulario input {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.formulario button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #2196F3;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.formulario button:hover {
  background-color: #1976D2;
}

.resultados {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.resultados h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.resultados ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resultados li {
  margin-bottom: 5px;
}

.resultados p {
  margin-top: 10px;
  margin-bottom: 0;
}
